html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;
}

li {
  width: 200px;
  height: 50px;
  border: 1px solid black;
  padding: 8px;
  background-color: burlywood;
}
a {
  text-decoration: none;
  color: none;
}
